* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
}

ol,
ul {
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* Placement */

body {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  cursor: 'url(../../../assets/img/cursor_wand.png) 4 4, auto';
}

.main {
  flex: 1 0 auto;
  max-width: 50%;
  padding: 2rem;
  text-align: center;
  margin: auto;
}

.pictures {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3em;
}

.header,
.footer {
  flex: 0 0 auto;
}

/* Typografy */

body {
  font-family: sans-serif;
  line-height: 1.5rem;
  color: #444;
}

p,
td,
th,
li,
dd {
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 1.4em;
  margin-bottom: 1.96rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.6em;
  font-weight: bold;
  color: $header-font-color;
}

img {
  max-width: 100%;
}
