/* Main content */

.main {
  background-color: $main-background-color;
}

.pictures img {
  border-radius: 10px;
  border: 1px solid $font-alternative-color;
  padding: 5px;
  filter: drop-shadow(0 0 20px $comp-color);
}

.main h1 {
  color: $h1-main;
}
