@media (max-width: 767px) {
  .title,
  .logo {
    padding: 1em 1em 1em 0;
  }

  .header {
    height: auto;
  }

  .site-header {
    width: auto;
  }

  .title {
    display: flex;
    align-items: center;
  }

  .logo {
    max-width: 30%;
    padding: 1em;
  }

  .main {
    padding: 1em;
    max-width: 100%;
  }

  .footer {
    padding: 2px 1em;
  }

  .main h1 {
    border-bottom: 1px solid $font-color;
    padding-bottom: 4px;

  }

  .landingpage h1,
  .css,
  .html,
  .javascript,
  .php,
  .python,
  .git,
  .sqlite {
    font-size: 1rem;
    grid-column: 1;
  }

  .landingpage {
    grid-gap: 5px;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .menu {
    display: none;
  }

  .technology .article {
    width: 100%;
  }

}
