@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import 'header';
@import 'main';
@import 'footer';
@import 'container';
@import 'links';
@import 'technology';
@import 'responsive';


@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Libre Baskerville',
    serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sanss',
    sans-serif;
}

.header {
  background: linear-gradient(to right, $background-color 0%, $header-background-color 100%);
}