/* technology.scss */
.landingpage {
    display: grid;
    gap: 1.96rem 1.96rem;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.box {
    border: 1px solid #000000;
    padding: 1.96rem;

}

.box:hover {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.technology {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.technology .article {
    width: 70%;
}

.technology .menu {
    width: 20%;
}