
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #ffbaba;
$background-alternative-color: #e0fbfc;
$header-background-color:#ffeadb;
$main-background-color: #e8e9da;
$header-font-color: #301934;
$footer-background-color: #678a74;
$font-color:#0000;
$link-hover:#402346;