
$font-alternative-color: #fff;
$accent-color: #fbd5d7;
$background-color: #fbd5d7;
$background-alternative-color: #e0fbfc;
$header-background-color: #e47f76;
$main-background-color: #fff;
$header-font-color: #2b1d1c;
$footer-background-color: #470d10;
$font-color: #0000;
$link-hover: #ee6c4d;
$tech-box: rgb(255, 209, 230);
$tech-box-hover: #dbb5c8 ;
$h1-main: #943d42;
$comp-color: #2da94a;
$active-color: #76e487;
