
$font-alternative-color: #fff;
$accent-color: #FBD5D7;
$background-color: #FBD5D7;
$background-alternative-color: #e0fbfc;
$header-background-color: #E47F76;
$main-background-color: #FFFFFF;
$header-font-color: #2B1D1C;
$footer-background-color: #470D10;
$font-color: #0000;
$link-hover: #ee6c4d;
$tech-box: rgb(255, 209, 230);
$tech-box-hover: #dbb5c8 ;
$h1-main: #F37981;
$comp-color: #2DA94A;
$active-color: #76E487;
