
$font-alternative-color: #577853 ;
$accent-color: #8ea590 ;
$background-color: #242022;
$background-alternative-color: #ffff;
$header-background-color: #121212;
$main-background-color: #362e32 ;
$header-font-color: #f3fff9 ;
$footer-background-color: #4a4246 ;
$font-color: #eee3e8;
$link-hover: #a0b79d ;
$tech-box: #362e32 ;
$tech-box-hover: #50434a ;
$h1-main: #f3fff9;
$comp-color: #577853;
$active-color: rgb(181, 228, 176);
