{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

        <main class="main" role="main"> 
            <article class="article">
                {{ content }}
            </article>
        </main>

    {% include 'incl/footer.twig' %}
</div>
</body>

</html>